@import "./utils/variables";
@import "./utils/mixins";
@import "./components/components";
@import "./Layout/footer";

body {
    font-family: 'Roboto', sans-serif;
}
a {
@include link;
}
header {
    display: flex;
    justify-content: center;
    padding: 20px 0px 15px 0px;
    img {
        width: 40%;
    }
}
.btn {
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient($color2, $color1);
    @include bouton;
    @include ombre;
}

.bg1 {
    width: 100%;
    background-color: $bgcolor;
    display: flex;
    flex-direction: column;
    .lieu {
        background-color: darken($bgcolor, 5%);
        border-top: 2px solid darken($bgcolor, 10%);
        padding: 10px 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        i {
            position: relative;
            right: 10px;
        }
    }
    .top {
        padding: 30px 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        p {
            max-width: 70%;
            text-align:center;
            font-size: 15px;
            strong {
                font-size: 22px;
            }
        }
    }
}
.num {
    @include numero;
    font-size: 12px;
    padding: 5px 8px;
}
.bg2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    h1 {
        align-self: flex-start;
        padding: 2% 0% 1% 5%;
    }
}
.info {
    background-color: $bgcolor;
    width: 280px;
    height: fit-content;
    padding: 20px 0px;
    border-radius: 20px;
    margin-bottom: 40px;
    text-decoration: none;
    color: black;
    @include ombre;
    .deco {
        margin: 0px 10px;
        color: darken($bgcolor, 30%);
    }
    &:hover{
        background-color: lighten($color1, 32%);
        .deco {
            color: $color1;
        }
    }
}

.card {
    @include card;
    @include ombre;
    margin-bottom: 40px;
    .vign {
        display: block;
        @include vignette;
        img {
            @include image;
        }
    }
    p {
        margin-top: 20px;
        margin-left: 20px;
    }
    strong {
        position: relative;
        bottom: 10px;
    }
    .adjust {
        position: relative;
        bottom: 20px;
    }
    .hearts {
        position: relative;
        bottom: 50px;
        left: 240px;
        .adjust {
            position: relative;
            bottom: 20px;
        }
        .heart1 {
            position: relative;
            left: 28px;
        }
    }
}
.new {
    border-radius: 3px;
    padding: 5px;
    color: darken($color3, 40%);
    background-color: $color3;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
    position: relative;
    bottom: 160px;
    left: 235px;
}
.resto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 30px 0px;
    h1 {
        align-self: flex-start;
        padding: 2% 0% 1% 5%;
    }
}