@import "./utils/variables";
@import "./utils/mixins";
@import "./components/components";
@import "./Layout/layout";

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}
a {
@include link;
}

.bg1 {
    width: 100%;
    background-color: $bgcolor;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    .lieu {
        background-color: darken($bgcolor, 5%);
        border-top: 2px solid darken($bgcolor, 10%);
        padding: 10px 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        i {
            position: relative;
            right: 10px;
        }
    }
    .top {
        padding: 30px 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        p {
            max-width: 70%;
            text-align:center;
            font-size: 15px;
            strong {
                font-size: 22px;
            }
        }
    }
}
.haut {
    @media (min-width: 600px) {
        width: 50%;
        max-width: 500px;
        overflow: hidden;
        border-radius: 30px;
        @include ombre;
    }
}
.num {
    @include numero;
    font-size: 12px;
    padding: 5px 8px;
}
.bg2 {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 20px;
    h1 {
        align-self: flex-start;
        padding: 2% 0% 1% 5%;
        @media (min-width: 600px) {
            align-self: center;
            padding: 30px 0px;
        }
        @media (min-width: 920px) {
            align-self: center;
            padding: 40px 0px 40px 0px;
            width: 300px;
            margin: 0% 49%;
        }
    }
    @media (min-width: 920px) {
        flex-flow: row wrap;
        justify-content: space-evenly;
        max-width: 1000px;
        align-self: center;
    }
}
.info {
    background-color: $bgcolor;
    width: 270px;
    height: fit-content;
    padding: 20px 0px;
    border-radius: 20px;
    margin-bottom: 40px;
    text-decoration: none;
    color: black;
    @include ombre;
    .deco {
        margin: 0px 10px;
        color: darken($bgcolor, 30%);
    }
    &:hover{
        background-color: lighten($color1, 32%);
        .deco {
            color: $color1;
        }
    }
}
.card {
    @include card;
    @include ombre;
    margin-bottom: 40px;
    .vign {
        display: block;
        @include vignette;
        img {
            @include image;
        }
    }
    p {
        margin-top: 20px;
        margin-left: 20px;
    }
    strong {
        position: relative;
        bottom: 10px;
    }
    .adjust {
        position: relative;
        bottom: 20px;
    }
    .hadjust {
        position: relative;
        bottom: 70px;
        left: 230px;
        .heart1 {
            position: relative;
            left: 38px;
        }
    }
    .hearts {
        position: relative;
        bottom: 50px;
        left: 230px;
        .heart1 {
            position: relative;
            left: 38px;
        }
    }
}

.heart1 {
    background-clip: text;
    background-image: linear-gradient($color1, $color2);
    color: transparent;
    padding: 10px;
    opacity: 0;
    transition: opacity 300ms;
    &:hover {
        opacity: 1;
    }
}
.heart2 {
    opacity: 1;
    transition: opacity 300ms;
    &:hover {
        opacity: 0;
    }
}

.new {
    border-radius: 3px;
    padding: 5px;
    color: darken($color3, 40%);
    background-color: $color3;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
    position: relative;
    bottom: 160px;
    left: 235px;
}
.resto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 30px 0px;
    h1 {
        align-self: flex-start;
        padding: 2% 0% 1% 5%;
        @media (min-width: 600px) {
            align-self: center;
            padding: 0px 0px 20px;
        }
        @media (min-width: 920px) {
            align-self: center;
            padding: 2% 40% 3% 40%;
        }
    }
    @media (min-width: 600px) {
        width: 70%;
        border-radius: 30px;
        margin-bottom: 50px;
        @include ombre;
    }
    @media (min-width: 920px) {
        width: 90%;
        max-width: 900px;
        flex-flow: row wrap;
        border-radius: 30px;
        justify-content: space-evenly;
        @include ombre;
        margin-bottom: 50px;
    }
}