@charset "UTF-8";
/* mixin générale */
/*mixin page principale */
/* mixin page restaurants */
.btn {
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  background-image: linear-gradient(#FF79DA, #9356DC);
  margin-bottom: 30px;
  color: white;
  border-radius: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 12px 25px;
  text-decoration: none;
  filter: brightness(1);
  transition: all 500ms ease-in;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}
.btn:hover {
  filter: brightness(1.2);
  box-shadow: 3px 3px 15px rgb(0, 0, 0);
}

header {
  display: flex;
  justify-content: center;
  padding: 20px 0px 15px 0px;
}
header img {
  width: 40%;
}
@media (min-width: 600px) {
  header img {
    max-width: 275px;
  }
}
header a {
  color: black;
  text-decoration: none;
  position: absolute;
  left: 5%;
}
header i {
  font-size: 20px;
}

footer {
  background-color: #595959;
  color: white;
  padding: 25px 0px 20px 0px;
}
footer strong {
  margin: 10px 40px;
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
  font-size: 18px;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  margin: 5px 0px;
}
footer ul li .deco {
  margin-right: 8px;
}
footer ul li .fa-utensils {
  margin-right: 12px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

.photo {
  width: 100%;
  max-height: 300px;
}
@media (min-width: 600px) {
  .photo {
    max-width: 500px;
    overflow: hidden;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }
}

section {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  section {
    width: 500px;
    align-self: center;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 920px) {
  section {
    width: 90%;
    align-self: center;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  }
}

.carte {
  position: relative;
  bottom: 50px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-bottom: 30px;
  margin-bottom: -50px;
}
@media (min-width: 600px) {
  .carte {
    margin-bottom: 50px;
    border-radius: 40px;
  }
}
.carte .toprow {
  margin: 20px 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
@media (min-width: 920px) {
  .carte .toprow {
    width: 500px;
    align-self: center;
  }
}
.carte .toprow h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-weight: normal;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 15px;
}
.carte .toprow .hearts {
  margin-top: 22px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 25px;
}
.carte .toprow .hearts .heart1 {
  position: relative;
  left: 38px;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  padding: 10px;
  opacity: 0;
  transition: opacity 300ms;
}
.carte .toprow .hearts .heart1:hover {
  opacity: 1;
}
.carte .toprow .hearts .heart2 {
  opacity: 1;
  transition: opacity 300ms;
}
.carte .toprow .hearts .heart2:hover {
  opacity: 0;
}

article {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
article .cat {
  width: 40px;
  margin: 0px 0px 20px 5%;
  padding-bottom: 4px;
  border-bottom: 3px solid #99E2D0;
  text-transform: uppercase;
  font-size: 15px;
}

.choix {
  width: 300px;
  height: 55px;
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  align-self: center;
  overflow: hidden;
}
.choix:hover .valide {
  translate: -55px;
}
.choix:hover .prix {
  translate: -40px;
}
.choix:hover p {
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.choix p {
  display: block;
  position: relative;
  font-size: 13px;
  margin-left: 10px;
  width: 250px;
}
.choix p strong {
  font-size: 15px;
  font-weight: bold;
}
.choix .prix {
  display: inline-block;
  position: relative;
  bottom: 50px;
  left: 270px;
  font-size: 13px;
  transition: translate 400ms ease-in-out;
}
.choix .valide {
  display: inline-block;
  position: relative;
  left: 300px;
  bottom: 64px;
  padding: 25px 20px;
  background-color: #99E2D0;
  color: white;
  transition: translate 500ms ease-in-out;
}/*# sourceMappingURL=Resto1.css.map */