@import "./utils/variables";
@import "./utils/mixins";
@import "./components/components";
@import "./Layout/layout";

$nombrechoix: 9;
$anim-dur: 1500ms;
$anim-delay: calc($anim-dur / $nombrechoix);

@keyframes apparition{
    0% {
        translate: 0px;
    }
    100% {
        opacity: -100px;
    }
}
body {
    font-family: 'Roboto', sans-serif;
}

.photo {
    width: 100%;
    max-height: 300px;
}
.note {
    position: relative;
    object-position: 0px -80px;
}
section {
    background-color: $bgcolor;
    display: flex;
    flex-direction: column;
}

.carte {
    position: relative;
    bottom: 50px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-bottom: 30px;
    margin-bottom: -50px;
    h1 {
        font-family: 'Shrikhand', sans-serif;
        font-size: 28px;
        font-weight:normal;
        margin-top: 30px;
        padding-left: 20px;
    }
}
article {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    .cat {
        width: 40px;
        margin: 0px 0px 20px 20px;
        padding-bottom: 4px;
        border-bottom: 3px solid $color3;
        text-transform: uppercase;
        font-size: 15px;
    }
}

.choix {
    @include option;
    @include ombre;
    align-self: center;
    overflow: hidden;
    &:hover .valide {
        translate: -55px;
    }
    &:hover .prix {
        translate: -40px;
    }
    &:hover p {
        width: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    p {
        display: block;
        position: relative;
        font-size: 13px;
        margin-left: 10px;
        width: 250px;
        strong {
            font-size: 15px;
            font-weight: bold;
        }
    }
    .prix {
        display: inline-block;
        position: relative;
        bottom: 50px;
        left: 270px;
        font-size: 13px;
        transition: translate 400ms ease-in-out;
    }
    .valide {
        display: inline-block;
        position: relative;
        left: 300px;
        bottom: 64px;
        padding: 25px 20px;
        background-color: $color3;
        color: white;
        transition: translate 500ms ease-in-out;
    }
}
.hearts {
    position: relative;
    bottom: 45px;
    left: 290px;
    .heart1 {
        position: relative;
        left: 28px;
    }
}
