@charset "UTF-8";
/* mixin générale */
/*mixin page principale */
/* mixin page restaurants */
.btn {
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  background-image: linear-gradient(#FF79DA, #9356DC);
  margin-bottom: 30px;
  color: white;
  border-radius: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 12px 25px;
  text-decoration: none;
  box-shadow: 3px 3px 10px grey;
}

header {
  display: flex;
  justify-content: center;
  padding: 20px 0px 15px 0px;
}
header img {
  width: 40%;
}
header a {
  color: black;
  text-decoration: none;
  position: relative;
  top: 3px;
  right: 230px;
}
header i {
  size: 15px;
}

footer {
  background-color: #595959;
  color: white;
  padding: 25px 0px 20px 0px;
}
footer strong {
  margin: 10px 40px;
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
  font-size: 18px;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  margin: 5px 0px;
}
footer ul li .deco {
  margin-right: 8px;
}
footer ul li .fa-utensils {
  margin-right: 12px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}

@-webkit-keyframes apparition {
  0% {
    translate: 0px;
  }
  100% {
    opacity: -100px;
  }
}

@keyframes apparition {
  0% {
    translate: 0px;
  }
  100% {
    opacity: -100px;
  }
}
body {
  font-family: "Roboto", sans-serif;
}

.photo {
  width: 100%;
  max-height: 300px;
}

.note {
  position: relative;
  -o-object-position: 0px -80px;
     object-position: 0px -80px;
}

section {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}

.carte {
  position: relative;
  bottom: 50px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-bottom: 30px;
  margin-bottom: -50px;
}
.carte h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-weight: normal;
  margin-top: 30px;
  padding-left: 20px;
}

article {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
article .cat {
  width: 40px;
  margin: 0px 0px 20px 20px;
  padding-bottom: 4px;
  border-bottom: 3px solid #99E2D0;
  text-transform: uppercase;
  font-size: 15px;
}

.choix {
  width: 320px;
  height: 55px;
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 3px 3px 10px grey;
  align-self: center;
  overflow: hidden;
}
.choix:hover .valide {
  translate: -55px;
}
.choix:hover .prix {
  translate: -40px;
}
.choix:hover p {
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.choix p {
  display: block;
  position: relative;
  font-size: 13px;
  margin-left: 10px;
  width: 250px;
}
.choix p strong {
  font-size: 15px;
  font-weight: bold;
}
.choix .prix {
  display: inline-block;
  position: relative;
  bottom: 50px;
  left: 270px;
  font-size: 13px;
  transition: translate 400ms ease-in-out;
}
.choix .valide {
  display: inline-block;
  position: relative;
  left: 300px;
  bottom: 64px;
  padding: 25px 20px;
  background-color: #99E2D0;
  color: white;
  transition: translate 500ms ease-in-out;
}

.hearts {
  position: relative;
  bottom: 45px;
  left: 290px;
}
.hearts .heart1 {
  position: relative;
  left: 28px;
}/*# sourceMappingURL=Resto1.css.map */