header {
    display: flex;
    justify-content: center;
    padding: 20px 0px 15px 0px;
    img {
        width: 40%;
    }
    a {
        color: black;
        text-decoration: none;
        position: fixed;
        left: 5%;
    }
    i {
        font-size: 20px;
    }
}

footer {
    background-color: darken($bgcolor, 60%);
    color: white;
    padding: 25px 0px 20px 0px;
    strong {
        margin: 10px 40px;
        font-family: 'Shrikhand', sans-serif;
        font-weight: normal;
        font-size: 18px;
    }
    ul {
        list-style-type: none;
        li {
            margin: 5px 0px;
            .deco{
                margin-right: 8px;
            }
            .fa-utensils {
                margin-right: 12px;
            }
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}