/* mixin générale */
@mixin link {
    text-decoration: none;
    color: black;
}

@mixin bouton {
    color: white;
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
    padding: 12px 25px;
    text-decoration: none;
}
@mixin ombre {
    box-shadow: 3px 3px 10px grey;
}

/*mixin page principale */
@mixin numero {
    color: white;
    background-color: $color1;
    border-radius: 50%;
    position: relative;
    right: 12px;
}

@mixin card {
    max-width: 320px;
    max-height: 250px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

@mixin vignette {
    max-width: 320px;
    max-height: 175px;
    overflow: hidden;
}
@mixin image {
    max-width: 370px;
    overflow: hidden;
    position: relative;
    object-position: -50px;
}

/* mixin page restaurants */

@mixin option {
    width: 320px;
    height: 55px;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: white;
}