@mixin link {
    text-decoration: none;
    color: black;
}

@mixin bouton {
    color: white;
    border-radius: 30px;
    width: 350px;
    height: fit-content;
    padding: 20px 0px;
    text-decoration: none;
}

@mixin numero {
    color: white;
    background-color: $color1;
    border-radius: 50%;
    position: relative;
    right: 10px;
}

@mixin card {
    max-width: 350px;
    max-height: 250px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

@mixin vignette {
    max-width: 350px;
    max-height: 175px;
    overflow: hidden;
}
@mixin image {
    max-width: 400px;
    overflow: hidden;
    position: relative;
    object-position: -50px;
}
@mixin coeur {
    color: linear-gradient($color2, $color1)
}
@mixin option {
    width: 350px;
    height: 60px;
    padding: 5px;
    border-radius: 20px;
    margin: 20px;
    background-color: white;
}